aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
argcomplete==1.8.1
async-timeout==4.0.2
attrs==19.3.0
autopep8==2.0.2
awscli==1.18.69
base58==2.1.1
beautifulsoup4==4.8.2
bitarray==2.7.5
blinker==1.6.2
boto==2.49.0
botocore==1.16.19
Brlapi==0.7.0
cachecontrol==0.13.1
cached-property==1.5.1
cachetools==5.3.1
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
cryptography==41.0.1
cupshelpers==1.0
cytoolz==0.12.1
datalad==0.12.4
dbus-python==1.2.16
defer==1.0.6
Deprecated==1.2.7
distro==1.4.0
docker==4.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
entrypoints==0.3
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.3.0
eth-typing==2.3.0
eth-utils==1.10.0
ExifRead==2.1.2
fasteners==0.14.1
firebase-admin==5.0.3
Flask==2.3.2
Flask-Cors==3.0.10
frozenlist==1.3.3
gitdb2==2.0.6
GitPython==3.0.7
google-api-core==2.11.1
google-api-python-client==2.89.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.54.2
grpcio-status==1.54.2
hexbytes==0.3.1
html5lib==1.0.1
httplib2==0.22.0
httpretty==0.9.5
humanize==1.0.0
idna==2.8
ifaddr==0.1.6
IMDbPY==6.8
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipfshttpclient==0.7.0
iso8601==0.1.12
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.9.4
jsmin==2.2.2
jsonschema==3.2.0
keyring==18.0.1
keyrings.alt==3.4.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.12.0
lru-dict==1.2.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.3
mock==3.0.5
monotonic==1.5
more-itertools==4.2.0
msgpack==0.6.2
multiaddr==0.0.9
multidict==6.0.4
mutagen==1.44.0
nemo-emblems==5.0.0
netaddr==0.7.19
netifaces==0.10.4
nose==1.3.7
oauthlib==3.1.0
onboard==1.4.1
packaging==20.3
PAM==0.4.2
parsimonious==0.8.1
pathlib==1.0.1
patool==1.12
pbr==5.4.5
pexpect==4.6.0
phe==1.4.0
Pillow==7.0.0
pkgutil-resolve-name==1.3.10
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.5.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.16.2
pycodestyle==2.10.0
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.18.0
pycups==1.9.73
pycurl==7.43.0.2
PyGithub==1.43.7
Pygments==2.3.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==2.7.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyparted==3.11.2
pyperclip==1.7.0
pyRFC3339==1.1
pyrsistent==0.15.5
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-dotenv==1.0.0
python-gitlab==2.0.1
python-magic==0.4.16
python-xapp==2.2.1
python-xlib==0.23
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
regex==2023.6.3
reportlab==3.5.34
requests==2.22.0
requests-file==1.4.3
requests-unixsocket==0.2.0
rlp==2.0.1
roman==2.0.0
rsa==4.0
s3transfer==0.3.3
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
smmap2==2.0.5
soupsieve==1.9.5
systemd-python==234
texttable==1.6.2
tinycss2==1.0.2
tldextract==2.2.1
tomli==2.0.1
toolz==0.12.0
tqdm==4.30.0
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
uritemplate==4.1.1
urllib3==1.25.8
varint==1.0.2
vcrpy==4.0.2
wadllib==1.3.3
web3==5.20.0
webencodings==0.5.1
websocket-client==0.53.0
websockets==8.1
Werkzeug==2.3.6
Whoosh==2.7.4
wrapt==1.11.2
xkit==0.0.0
yarl==1.9.2
youtube-dl==2021.4.26
zipp==3.15.0